.list-todo {
  list-style: none;
  width: 50%;
  margin: auto;
}
.todo-element {
  padding: 10px 10px;
  background-color: rgb(120, 201, 129);
  justify-content: center;
  position: relative;
}
.done {
  text-decoration: line-through;
}

.todo-action {
  position: absolute;
  right: 15;
  bottom: 35%;
}

.none {
  display: none;
}
